.main-content {
  width: 70%;
  display: block;
  margin: 25px auto 25px;
  font-family: sans-serif;
  font-size: small;
}

@media screen and (max-width: 700px) {
  .main-content {
    width: 100%;
    margin: 0 auto 0;
  }
  .code-view-container {
    width: 100%;
  }
}

.sample-code {
  font-size: 14px !important;
}

pre.javascript.hljs {
  margin-top: 0 !important;
  padding-left: 10px;
}

.color-grey {
  color: grey;
}

h1 {
  color: lightslategray;
  text-align: center;
}

h2 {
  margin: 5px;
  font-size: 16px;
  color: cornflowerblue;
}

.custom .ui-scrollpanel-wrapper {
  border-right: 9px solid #f4f4f4;
  background-color: aliceblue;
}

.custom .ui-scrollpanel-bar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: darkgrey;
  opacity: 1;
  transition: background-color .3s;
}

div.ui-toolbar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.title {
  font-size: 16px;
  color: deepskyblue;
  border-radius: 2px;
  font-variant: petite-caps;
  font-weight: normal;
  /*vertical-align: sub;*/
  vertical-align: -webkit-baseline-middle;
}

.react-json-view {
  padding: 20px;
  font-size: 14px;
}

.full-width {
  width: 100%;
}

.float-left {
  float: left;
}

.checkbox-children {
  vertical-align: middle;
  margin-left: 10px;
}

.checkbox-children-label {
  font-size: 11px;
  color: darkorange;
}

.code-view-container {
  display: block;
  margin: 30px auto auto;
  width: 90%;
  height: 90%;
}

.json-view-container {
  width: 100%;
  height: 300px;
}

.ui-panel-titlebar {
  color: cornflowerblue !important;
  font-size: 16px;
  font-weight: bolder !important;
}

div.ui-panel {
  margin-top: 20px;
  margin-bottom: 20px;
}

.centered {
  text-align: center;
}

.table-selected {
  padding: 1px;
  background-color: cornflowerblue;
}

.dialog-label {
  padding: 4px 10px
}

.dropdown {
  width: 158px !important;
  margin-bottom: 40px !important;
}

.btn-menu {
  background-color: grey;
  border-color: grey;
}

.left-menu-item {
  display: block;
  text-decoration: none;
  font-size: large;
  color: grey !important;
   padding-left: 10px;
  border-top-style: solid;
  border-top-color: lightgrey !important;
  border-top-width: 1px;
  height: 50px;
  line-height: 50px;
}

:hover.left-menu-item {
  background-color: grey;
  color: white !important;
}

:focus.left-menu-item {
  background-color: lightgrey;
}

.left-menu-item > span {
  padding-left: 15px;
}

.ui-sidebar-close {
  cursor: pointer;
  font-size: 18px;
  color: lightgrey !important;
  border: 1px solid lightgrey !important;
}

/*
.row-editing {
  background-color: lightskyblue !important;
  color: white !important;
  font-weight: bold;
}
*/

/*
.custom .ui-scrollpanel-bar:hover {
  background-color: #135ba1;
}
*/

